run = "tsx index.ts"
entrypoint = "index.ts"

hidden = [
  ".config",
  "package-lock.json",
  "tsconfig.json"
]
modules = ["nodejs-20", "nodejs-23"]

[nix]
channel = "stable-24_05"
packages = ["hut"]

[gitHubImport]
requiredFiles = [
  ".replit",
  "replit.nix",
  ".config"
]

[deployment]
run = ["tsx", "index.ts"]
deploymentTarget = "cloudrun"
ignorePorts = false

[[ports]]
localPort = 3000
externalPort = 80

[agent]
expertMode = true

[workflows]
runButton = "Publish Build"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Run CLI"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Dev Mode"

[[workflows.workflow]]
name = "Run CLI"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm start"

[[workflows.workflow]]
name = "Dev Mode"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[[workflows.workflow]]
name = "Publish Build"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "bash scripts/publish-build.sh release"

[[workflows.workflow]]
name = "Build tsc"
mode = "sequential"
author = 39231731

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "tsc"
